<!DOCTYPE html>
<html>
<head>
  <title>EDoggy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/assets/style.css">
  <base href="/application.html.erb">
</head>
<body ng-app="app">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">eDoggy</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li id="userName"><%= current_user.name %></li>
      <li><img src="<%= current_user.profileURL %>" alt="profilePic" class="img-circle" /></li>
      <li><%= link_to "Logout", '/sessions', method: :delete%></li>
      <% else %>
      <li><%= link_to "Login", "/auth/facebook", id: "sign_in", class: "btn btn-primary" %></li>
      <% end %>
    </ul>
  </div>
</nav>


<div class="container-fluid" ng-view>
</div>
<%= yield %>
</body>
</html>
